	<div class="msgtextmobilefix msgtextarea"> 
 		<%= form_for(current_user.messages.new, :url => {:controller => :messages, :action => 'create'}) do |f| %>
          <%= f.text_area :body, placeholder: "Type message here..." %>
          <%= f.submit "Send", :class => "btn" %>
        <% end %>
	
	</div>
</div>
</body>