
	<div class="smallcontainer mainbg" style="padding:40px;text-align:center">

		<h1>
			Access Denied
		</h1>
		<p style="text-align:center;margin:20px auto;">You have been denied access to this page</p>
		<div>
			<a href="#" class="btn redbtn">Return to bestofglass.co</a>
		</div>

			
	</div>