<!DOCTYPE html>
<html>
	<meta charset=UTF-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge"/>
	<meta content="True" name="HandheldFriendly">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

<head>
  <title>BestOfGlass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
